* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :root {
    --font-primary: 'Roboto', sans-serif;
}

header {
    font-family: var(--font-primary);
    color: rgb(219, 212, 212);
    background: linear-gradient(to left, #0805cc, #091168);
    padding: 22px 10px;
    text-align: center;
}

main {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#city-weather-search {
    width: 30vw;
}

#city-weather-search h2 {
    font-family: var(--font-primary);
    padding: 2% 5% 2% 1%;
}

#city-weather-search-results {
    font-family: var(--font-primary);
    height: 100%;

}

#current-city-date {
    margin-left: 2%;
}

.city-weather-result {
    min-height: 250px;
    padding: 5px;
    border: 2px solid black;
    margin: 1% 5% 0% 0%;
    border-radius: 21px;
}

.city-weather-result span {
    display: flex;
}

.current-city-success-uvi {
    background-color: #0b9622;
    color: white;
    margin-top: 2%;
    width: 150px;
    max-width: 200px;
    padding: 1%;
    border-radius: 5px;

}

.current-city-warning-uvi {
    background-color: #6c860c;
    color: white;
    margin-top: 2%;
    width: 150px;
    max-width: 200px;
    padding: 1%;
    border-radius: 5px;
}


.current-city-danger-uvi {
    background-color: #eb1313;
    color: white;
    margin-top: 2%;
    width: 150px;
    max-width: 200px;
    padding: 1%;
    border-radius: 5px;
}



.current-city-information {
    display: flex;
}

span {
    display: block;
    font-size: 120%;
    margin-top: 2%;
}

form {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-left: 1%;
}

form input {
    padding: 5%;
    min-width: 150px;
    border-radius: 5px;
}

form button {
    margin: 5% 0% 5% 0%;
    padding: 5%;
    min-width: 150px;
    border-radius: 5px;
    background-color: #0c51a0;
    color: white;
    font-weight: 900;
}

#city-weather-search-results {
    width: 70vw;
}

.city-weather-previous-search {
    display: flex;
    flex-direction: column;
    margin: 0% 10%;
}

.city-weather-previous-search-button {
    min-width: 150px;
    border-radius: 5px;
    background-color: #5e6670;
    color: white;
    font-weight: 900;
    padding: 5%;
    margin: 2% 0% 2% -11%;
}

.city-weather-5-day-forecast {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.city-weather-forecast-card {
    width: 18%;
    font-size: 75%;
    text-align: center;
    margin: 2% 2% 0% 0%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2%;
    min-height: 300px;
    background-color: #6260ca;
    color: white;

}

.city-weather-forecast-card h2, .city-weather-forecast-card-icon, .city-weather-forecast-card span {
    margin-bottom: 24%;
}

/* *************************** responsiveness ****************** */

@media (max-width: 1030px) {
    .city-weather-forecast-card {
        width: 80%;
        margin-right: 5%;
    }
  }

  @media (max-width: 860px) {

    .city-weather-forecast-card {
        width: 100%;
        margin-right: 5%;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #city-weather-search h2, h1{
        font-size: 90%;
        text-align: center;
        margin: 0 auto;
    }
  }





